.nav-colors {
    background-color: #000000;
}

.app-icon {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: var(--highlight-color);
    font-size: 2.25rem;
    line-height: 1.0;
}

.navigation {
    color: var(--highlight-color);
    font-weight: bold;
    font-size: 1.1rem;
}
