#ermessg {
 color: rgb(253, 134, 134);
 font-weight: bold;
}

.linkToRegister{
    margin-bottom: 0;
    margin-top: 10px;
}
.linkToRegister a {
    font-size: 0.8rem;
    color: var(--highlight-color);
}